src/Eppie.App/.vs/
src/Eppie.App/Eppie.App/.vs/
src/Eppie.App/Eppie.App/bin/
src/Eppie.App/Eppie.App/obj/
src/Eppie.App/Eppie.App/Eppie.App.csproj.user
src/Eppie.App/Eppie.App.Resources/Eppie.App.Resources.Uno/bin/
src/Eppie.App/Eppie.App.Resources/Eppie.App.Resources.Uno/obj/
src/Eppie.App/Eppie.App.Resources/Eppie.App.Resources.UWP/.vs/
src/Eppie.App/Eppie.App.Resources/Eppie.App.Resources.UWP/bin/
src/Eppie.App/Eppie.App.Resources/Eppie.App.Resources.UWP/obj/
src/Eppie.App/Eppie.App.UI/Eppie.App.UI.Uno/bin/
src/Eppie.App/Eppie.App.UI/Eppie.App.UI.Uno/obj/
src/Eppie.App/Eppie.App.UI/Eppie.App.UI.UWP/.vs/
src/Eppie.App/Eppie.App.UI/Eppie.App.UI.UWP/bin/
src/Eppie.App/Eppie.App.UI/Eppie.App.UI.UWP/obj/
src/Eppie.App/Eppie.App.UWP/.vs/
src/Eppie.App/Eppie.App.UWP/AppPackages/
src/Eppie.App/Eppie.App.UWP/bin/
src/Eppie.App/Eppie.App.UWP/BundleArtifacts/
src/Eppie.App/Eppie.App.UWP/obj/
src/Eppie.App/Eppie.App.UWP/Eppie.App.UWP.csproj.user
src/Eppie.App/Eppie.App.ViewModels/bin/
src/Eppie.App/Eppie.App.ViewModels/obj/
src/Eppie.App/Eppie.App.ViewModels/Eppie.App.ViewModels.csproj.user
src/Eppie.App/Eppie.Authorization.OAuth2/bin
src/Eppie.App/Eppie.Authorization.OAuth2/obj
src/Tests/Eppie.App.ViewModels.Tests/obj/
src/Tests/Eppie.App.ViewModels.Tests/bin/
src/Eppie.App/Eppie.AI/obj/
src/Eppie.App/Eppie.AI/bin/
/.vs
