################################################################################
#                                                                              #
#   Copyright 2025 Eppie(https://eppie.io)                                     #
#                                                                              #
#   Licensed under the Apache License, Version 2.0 (the "License");            #
#   you may not use this file except in compliance with the License.           #
#   You may obtain a copy of the License at                                    #
#                                                                              #
#       http://www.apache.org/licenses/LICENSE-2.0                             #
#                                                                              #
#   Unless required by applicable law or agreed to in writing, software        #
#   distributed under the License is distributed on an "AS IS" BASIS,          #
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   #
#   See the License for the specific language governing permissions and        #
#   limitations under the License.                                             #
#                                                                              #
################################################################################

---

name: Publish Desktop [binaries]

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
    inputs:
      os:
        type: choice
        default: all
        options:
          - all
          - linux
          - macos
          - windows
      architecture:
        type: choice
        default: all
        options:
          - all
          - arm64
          - x64
      dotnet-verbosity:
        type: choice
        default: minimal
        options:
          - quiet
          - minimal
          - normal
          - detailed
          - diagnostic
  workflow_call:
    inputs:
      os:
        type: string
        required: true
      architecture:
        type: string
        required: true
      dotnet-verbosity:
        type: string
        required: true

jobs:

  prepare:
    name: Prepare
    runs-on: ubuntu-latest

    outputs:
      matrix: ${{ steps.publish-config.outputs.matrix }}
      interrupt-publication: ${{ steps.publish-config.outputs.is-empty }}

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Read the binaries publication configuration
        id: publish-config
        uses: finebits/github-actions/toolset/select-configuration@39ec051fda4f00ab2ac5ffb6336ab0ea1ad9ad0f # v3.0.0
        with:
          json-file: ./.github/configurations/publish-desktop-binaries.json
          keywords: | 
            ${{ inputs.os }}
            ${{ inputs.architecture }}

  publish:
    name: Publish ${{ matrix.publish.framework }} ${{ matrix.publish.runtime }}
    needs: prepare
    if: needs.prepare.outputs.interrupt-publication == 'false'
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.prepare.outputs.matrix) }}

    runs-on: ${{ matrix.os }}

    env:
      publish-path: '${{ github.workspace }}/.publish/${{ matrix.publish.configuration }}/${{ matrix.publish.framework }}/${{ matrix.publish.runtime }}'
      artifacts-path: '${{ github.workspace }}/.artifacts/${{ matrix.publish.configuration }}/${{ matrix.publish.framework }}/${{ matrix.publish.runtime }}'

    steps:
      - name: Support longpaths
        if: ${{ runner.os == 'Windows'}}
        run: git config --system core.longpaths true

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Install Prerequisites
        uses: ./.github/actions/install-prerequisites
        with:
          uno-platform: true
          uno-check-skip: 'git xcode vswin vsmac windowshyperv edgewebview2 dotnetnewunotemplates androidsdk androidemulator'

      - name: Assign version
        id: assign-version
        uses: ./.github/actions/assign-version

      - uses: finebits/github-actions/toolset/file/replace-text@39ec051fda4f00ab2ac5ffb6336ab0ea1ad9ad0f # v3.0.0
        with:
          file: ./src/Eppie.App/Eppie.App.Shared/Authorization/AuthConfig.Uno.cs
          find-what: '\"<Gmail-ClientId>\"'
          replace-with: "${{ secrets.GMAIL_CLIENT_ID }}"

      - uses: finebits/github-actions/toolset/file/replace-text@39ec051fda4f00ab2ac5ffb6336ab0ea1ad9ad0f # v3.0.0
        with:
          file: ./src/Eppie.App/Eppie.App.Shared/Authorization/AuthConfig.Uno.cs
          find-what: '\"<Gmail-ClientSecret>\"'
          replace-with: "${{ secrets.GMAIL_CLIENT_SECRET }}"

      - uses: finebits/github-actions/toolset/file/replace-text@39ec051fda4f00ab2ac5ffb6336ab0ea1ad9ad0f # v3.0.0
        with:
          file: ./src/Eppie.App/Eppie.App.Shared/Authorization/AuthConfig.Uno.cs
          find-what: '\"<Outlook-ClientId>\"'
          replace-with: "${{ secrets.OUTLOOK_CLIENT_ID }}"

      - name: Prepare
        if: matrix.publish.tool == 'dotnet'
        shell: bash
        run: |
          semantic_version='${{ steps.assign-version.outputs.semantic-version }}'
          numeric_version='${{ steps.assign-version.outputs.numeric-version }}'
          app_version='${{ steps.assign-version.outputs.app-version }}'
          app_display_version='${{ steps.assign-version.outputs.app-display-version }}'

          project='${{ matrix.publish.project }}'
          configuration='${{ matrix.publish.configuration }}'
          framework='${{ matrix.publish.framework }}'
          runtime='${{ matrix.publish.runtime }}'
          publish_path='${{ env.publish-path }}'

          prepare='${{ join(matrix.publish.prepare, '|') }}'

          IFS_CACHE=$IFS
          IFS='|'

          options="--configuration=$configuration --framework=$framework --runtime=$runtime"
          version_options="--property:Version=\"$semantic_version\" --property:AssemblyVersion=\"$numeric_version\" --property:PackageVersion=\"$numeric_version\" --property:ApplicationVersion=\"$app_version\" --property:ApplicationDisplayVersion=\"$app_display_version\""
          verbosity_option="--verbosity=${{ inputs.dotnet-verbosity }}"
          for prepare_options in $prepare
          do
            echo "$prepare_options $options $version_options $verbosity_option" | xargs dotnet build $project
          done

          IFS=$IFS_CACHE

      - name: Publish
        if: matrix.publish.tool == 'dotnet'
        shell: bash
        run: |
          semantic_version='${{ steps.assign-version.outputs.semantic-version }}'
          numeric_version='${{ steps.assign-version.outputs.numeric-version }}'
          app_version='${{ steps.assign-version.outputs.app-version }}'
          app_display_version='${{ steps.assign-version.outputs.app-display-version }}'

          project='${{ matrix.publish.project }}'
          configuration='${{ matrix.publish.configuration }}'
          framework='${{ matrix.publish.framework }}'
          runtime='${{ matrix.publish.runtime }}'
          publish_path='${{ env.publish-path }}'
          extra_options='${{ matrix.publish.extra }}'

          options="--output=\"$publish_path\" --configuration=$configuration --framework=$framework --runtime=$runtime"
          version_options="--property:Version=\"$semantic_version\" --property:AssemblyVersion=\"$numeric_version\" --property:PackageVersion=\"$numeric_version\" --property:ApplicationVersion=\"$app_version\" --property:ApplicationDisplayVersion=\"$app_display_version\""
          verbosity_option="--verbosity=${{ inputs.dotnet-verbosity }}"
          echo "$options $extra_options $version_options $verbosity_option" | xargs dotnet publish $project 

      - name: Check AZURE secrets
        if: ${{ runner.os == 'Windows' && matrix.os != 'windows-11-arm' }}
        id: check-azure-secrets
        shell: bash
        run: |
          exist=true

          if [ "${{ secrets.AZURE_TENANT_ID }}" == "" ]; then
            echo "::warning::'secrets.AZURE_TENANT_ID' is empty"
            exist=false
          fi
          if [ "${{ secrets.AZURE_CLIENT_ID }}" == "" ]; then
            echo "::warning::'secrets.AZURE_CLIENT_ID' is empty"
            exist=false
          fi
          if [ "${{ secrets.AZURE_CLIENT_SECRET }}" == "" ]; then
            echo "::warning::'secrets.AZURE_CLIENT_SECRET' is empty"
            exist=false
          fi
          if [ "${{ secrets.TRUSTED_SIGNING_ACCOUNT_NAME }}" == "" ]; then
            echo "::warning::'secrets.TRUSTED_SIGNING_ACCOUNT_NAME' is empty"
            exist=false
          fi
          if [ "${{ secrets.CERTIFICATE_PROFILE_NAME }}" == "" ]; then
            echo "::warning::'secrets.CERTIFICATE_PROFILE_NAME' is empty"
            exist=false
          fi

          echo "secrets-exist=$exist" >> $GITHUB_OUTPUT

      # It currently does not support ARM64 yet. (Azure/trusted-signing-action#92)
      - name: Sign files with Trusted Signing
        if: ${{ runner.os == 'Windows' && matrix.os != 'windows-11-arm' && steps.check-azure-secrets.outputs.secrets-exist == 'true' }}
        uses: azure/trusted-signing-action@1d365fec12862c4aa68fcac418143d73f0cea293 # v0.5.11
        with:
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
          azure-client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          endpoint: https://neu.codesigning.azure.net/
          trusted-signing-account-name: ${{ secrets.TRUSTED_SIGNING_ACCOUNT_NAME }}
          certificate-profile-name: ${{ secrets.CERTIFICATE_PROFILE_NAME }}
          files-folder: ${{ env.publish-path }}
          files-folder-filter: Eppie*.exe,Eppie*.dll,Tuvi*.dll
          file-digest: SHA256
          timestamp-rfc3161: http://timestamp.acs.microsoft.com
          timestamp-digest: SHA256

      - name: Prepare Artifacts
        shell: bash
        run: |
          artifact_path="${{ env.artifacts-path }}"
          publish_path="${{ env.publish-path }}"
          tool='${{ matrix.artifact.tool }}'

          artifact_name="eppie.desktop-${{ matrix.publish.runtime }}"

          mkdir -p "$artifact_path"

          if [[ "$tool" == "tar" ]]; then
            tar -czf "${artifact_path}/${artifact_name}.tar.gz" -C "$publish_path" . && echo "Archiving of the artifact '$artifact_name' has been completed successfully." || echo "::warning::Failed to archive artifact '$artifact_name'"
          elif [[ "$tool" == "7z"  ]]; then
            7z a -tzip "${artifact_path}/${artifact_name}.zip" "$publish_path/*" && echo "Archiving of the artifact '$artifact_name' has been completed successfully." || echo "::warning::Failed to archive artifact '$artifact_name'"
          elif [[ "$tool" == "cp" ]]; then
            cp -r ${publish_path}/* ${artifact_path}/ && echo "Copying of the artifact has been completed successfully." || echo "::warning::Failed to copy artifact"
          else
            echo "::warning::Unknown artifact tool: '$tool'"
          fi

      - name: Upload Artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: Eppie.Desktop-${{ matrix.publish.runtime }} [${{ steps.assign-version.outputs.artifact-version }}]
          path: ${{ env.artifacts-path }}
